.title
  font-size: 2em
  font-weight: bold
  color: #dadaf5

.vertical
  display: flex
  flex-direction: column
  gap: 0.2em

.horizontal
  width: 100%
  display: flex
  padding: 0.2em
  gap: 0.4em
  justify-content: flex-start
  align-items: center

.titleInput
  background-color: #0d1117 !important 
  border: none !important
  color: #01aff6 !important
  margin-bottom: 0.5em !important

.titleInput input
  background-color: #0d1117 !important 
  color: #01aff6
  border-color: #01aff6 !important

.titleInput button
  background-color: #01aff6 !important 
  border-color: #01aff6 !important

.titleInput span
  border: none !important

.titleContainer
  width: 100%
  display: inline-flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  margin-bottom: 0.2em

.itemsList
  display: inline-flex
  align-items: center
  gap: 0.5em
  color: #0b75a1

.author
  display: inline-flex
  justify-content: flex-start
  align-content: center
  align-items: flex-start
  gap: 0.3em
  align-items: center

.author img
  height: 1.7em
  border-radius: 0.2em

.author span
  color: #a88b51

.author:hover
  text-decoration-line: underline
  color: #c49535

.menu
  background-color: #0e0e33 !important
  color: #01aff6 !important
  margin-right: 0.5em !important
  display: flex
  flex-direction: column

.menuItem
  font-size: 0.8em !important

.menuItemGroup
  display: inline-flex
  gap: 0.3em
  align-items: center

.menuItem:hover
  background-color: #92709e !important
  color: #0e0e33 !important

.blueMenuItem
  color: #01aff6 !important

.blueMenuItem:hover
  color: #0e0e33 !important

.redMenuItem
  color: #eb2f5e !important

.redMenuItem:hover
  color: #7d0221 !important