.tag
  color: #24233b
  font-size: 0.8em
  background: #01aff6
  padding: 0.2em 0.4em 0.2em 0.4em
  border-radius: 0.2em
  cursor: pointer
  transition: 0.3s

.tag:hover
  text-decoration-line: underline
  background: #016faa
  color: #faf4fd
