.dangerPage
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  gap: 2em
  padding-top: 1em

.optionContainer
  width: 90%
  display: grid
  grid-template-columns: 30% 70%
  background-color: #403f69
  border-radius: 0.2em
  padding: 0.8em
  align-items: center

.optionDescription
  display: flex
  flex-direction: column
  justify-content: left
  color: #cfc8c2

.optionDescription span:first-child
  font-size: 2em
  font-weight: bold

.optionValue
  width: 100%
  display: inline-flex
  align-items: center
  gap: 0.6em

.optionValue img
  height: 5em
  border-radius: 0.4em