.page
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  display: inline-flex
  justify-content: center
  align-items: flex-start
  background-color: rgba(0.3, 0.3, 0.3, 0.7)

.form
  margin-top: 15em
  width: 35%
  background-color: #403f69
  padding: 1em
  border-radius: 0.5em
  display: flex
  flex-direction: column
  gap: 0.5em
  justify-content: center
  align-items: center

.title
  font-size: 2em
  color: #01aff6
  margin-bottom: 0.7em

.label
  width: 100%
  color: #cfc8c2
  text-align: left
  font-size: 1.2em

.forgotPassword
  color: #01aff6
  font-size: 0.8em
  align-self: flex-end

.forgotPassword:hover
  cursor: pointer
  text-decoration: underline

.input
  width: 100% !important
  background-color: #24233b !important
  color: #cfc8c2 !important

.input input
  background-color: #24233b !important
  color: #cfc8c2 !important

.horizontal
  width: 100%
  display: inline-flex
  justify-content: flex-end
  gap: 0.5em