.card
  color: #cfc8c2
  display: flex
  flex-direction: column
  width: 100%
  box-shadow: rgba(13, 17, 23, 0.2) 0 2px 8px 0
  background-color: #24233b
  transition: 0.3s
  border-radius: 0.3em
  border: 2px solid #0d1117
  padding: 0.5em

.card:hover
  border-color: #a96dc2
  box-shadow: 0 10px 16px 0 rgba(135, 84, 156, 0.2), 0 6px 20px 0 rgba(135, 84, 156, 0.19)
  cursor: pointer

.info
  display: inline-flex
  justify-content: space-between
  align-items: center
  color: #bf93aa
  margin-top: 0.3em

.title
  font-size: 1.3em
  color: #a88b51
  font-weight: bold