.editor
  width: 100%
  display: flex
  flex-direction: column

.editor textarea
  width: 100%
  font-size: 0.9em
  border: none
  padding: 0.3em
  background-color: #0d1117
  border: 2px solid #30363d
  border-radius: 0.2em
  color: #cfc8c2

.horizontal
  width: 100%
  display: flex
  padding: 0.3em
  gap: 0.4em
  justify-content: flex-end
  align-items: center
