.disabled
  pointer-events: none
  opacity: 0.7

.container
  margin-top: 3em
  width: 100%
  display: flex
  justify-content: center
  align-items: flex-start

.options
  padding: 0.3em
  gap: 0.1em
  height: fit-content
  border-radius: 0.3em
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  font-size: 1.2em

  & > span
    padding: 0.2em
    color: #a96dc2

  .optionsButton
    cursor: pointer
    transition: all 0.3s
    padding: 0.2em
    color: #a96dc2

  .share
    padding-top: 0.1em
    font-size: 1.5em
    cursor: pointer
    color: #a96dc2