.tagPage
  width: 100%
  height: 100%
  display: block
  background-color: #060617
  min-height: 100vh
  padding-bottom: 2em

.page
  background-color: #060617
  margin-top: 3em
  padding-top: 1em
  width: 100%
  display: flex
  flex-direction: column
  gap: 2em
  justify-content: flex-start
  align-items: center

.tag
  width: 70%
  display: flex
  flex-direction: column
  justify-content: flex-start
  color: #cfc8c2
  background-color: #24233b
  padding: 1em
  border-radius: 0.3em

.itemsList
  display: inline-flex
  gap: 0.5em
  justify-content: space-between

.itemsList img
  height: 1.7em
  border-radius: 0.2em

.authorName
  display: inline-flex
  justify-content: flex-start
  align-content: center
  align-items: flex-start
  gap: 0.3em

.authorName span
  color: #a88b51

.authorName:hover
  text-decoration-line: underline
  color: #c49535

.authorName span:hover
  color: #c49535

.tagName
  font-size: 2.5em
  color: #01aff6
  font-family: 'JetBrains Mono', monospace