.page
  width: 100%
  height: 100vh
  background-color: #0e0e33
  display: flex
  flex-direction: column
  justify-content: flex-start

.header
  width: 100%
  font-size: 2em
  color: #01aff6
  background-color: #0e0e33
  border-bottom: 2px solid #01aff6
  display: inline-flex
  justify-content: center
  font-family: 'JetBrains Mono', monospace

.form
  margin-top: 7em
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 40%
  align-self: center
  gap: 0.5em

.input
  width: 100% !important
  background-color: #24233b !important
  color: #cfc8c2 !important

.input input
  background-color: #24233b !important
  color: #cfc8c2 !important

.title
  font-size: 1.7em
  color: #01aff6

.info
  font-size: 1em
  font-style: italic
  color: #1687b5