.questionPage
  width: 100%
  height: 100%
  display: block
  background-color: #060617
  min-height: 100vh
  padding-bottom: 2em

.page
  background-color: #060617 
  margin-top: 3em
  padding-top: 1em
  width: 100%
  display: flex
  flex-direction: column
  gap: 2em
  justify-content: flex-start
  align-items: center

.question
  width: 100%
  display: grid
  grid-template-columns: 10% 80% 10%

.questionMain
  display: flex
  flex-direction: column
  gap: 0.5em

.questionText
  background-color: #faf4fd

.horizontal
  width: 100%
  display: flex
  padding: 0.2em
  gap: 0.4em
  justify-content: flex-end
  align-items: center

.comments
  width: 100%
  display: flex
  flex-direction: column
  gap: 0

.switch
  background-color: red !important

.questionOptions
  color: #ead8ed
  display: inline-flex
  align-items: center
  justify-content: flex-start
  gap: 0.3em
  font-size: 1.5em

.questionOptionsIcon
  padding: 0.2em
  border-radius: 0.2em
  cursor: pointer
  font-size: 0.75em

.questionOptionsIcon:hover
  background-color: #4a3e4f