.searchContainer
  width: inherit

.searchInput
  background-color: #0d1117 !important 
  border: none !important

.searchInput input
  background-color: #0d1117 !important 
  color: #01aff6
  border-color: #01aff6 !important

.searchInput button
  background-color: #01aff6 !important 
  border-color: #01aff6 !important

.searchInput span
  border: none !important