.profilePage
  width: 100%
  height: 100%
  display: block
  background-color: #060617
  min-height: 100vh
  padding-bottom: 2em

.page
  background-color: #060617 
  margin-top: 3em
  padding-top: 1em
  width: 100%
  display: flex
  display: grid
  grid-template-columns: 20% 80%

.leftPanel
  display: flex
  flex-direction: column
  gap: 0.3em
  justify-content: flex-start
  align-items: center

.panelItemSelected
  padding: 0.5em
  width: 80%
  color: #cfc8c2
  background-color: #403f69
  border-radius: 0 0.3em 0.3em 0
  border-left: 3px solid #cfc8c2
  display: inline-flex
  align-items: center
  gap: 0.3em

.panelItemSelected:hover
  cursor: pointer
  color: #cfc8c2

.panelItem
  padding: 0.5em
  width: 80%
  color: #01aff6
  display: inline-flex
  align-items: center
  gap: 0.3em
  border-left: 2px solid transparent

.panelItem:hover
  cursor: pointer
  text-decoration: underline
  background-color: #24233b
  border-radius: 0.3em

.panelUser
  display: 100%
  display: inline-flex
  gap: 0.5em
  justify-content: center
  align-items: center
  margin-bottom: 0.5em

.panelUser img
  height: 2.4em
  border-radius: 0.3em

.panelUser span
  color: #01aff6
  font-size: 1.5em

.redPanelItem
  color: #e35277

.redPanelItem:hover
  color: #c41d48

.panelDivider
  height: 2px !important
  color: #01aff6 !important
  width: 80% !important
  background-color: #01aff6 !important
  margin-top: 0.2em
  margin-bottom: 0.2em