.toolsContainer
  display: flex
  flex-direction: row
  gap: 0.5em
  align-items: center
  color: #0b75a1

.toolIcon
  font-size: 1.5em
  padding: 0.3em
  transition: 0.3s
  color: #0b75a1 !important

.toolIcon:hover
  cursor: not-allowed
  color: #01aff6 !important


.profileButton
  padding: 0.5em
  border-radius: 0.3em
  cursor: pointer
  font-size: 1.1em
  font-weight: bold
  transition: 0.3s

.profileButton:hover
  cursor: pointer
  color: #01aff6


.avatar
  height: 2em
  width: auto
  border-radius: 0.5em

.menu
  background-color: #0e0e33 !important
  color: #01aff6 !important
  margin-right: 0.5em !important

.menuItem
  color: #01aff6 !important

.menuItem:hover
  background-color: #92709e !important
  color: #0e0e33 !important

.menuDivider
  background-color: #01aff6 !important