.container
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  gap: 0.3em

.horizontal
  width: 100%
  display: inline-flex
  justify-content: flex-start
  align-items: center
  gap: 0.7em

.secret
  width: 100%
  background-color: #6a646e
  border: 2px solid #322c36
  color: #251c2b
  border-radius: 0.3em
  padding: 0.3em
  font-family: 'JetBrains Mono', monospace
  overflow-wrap: break-word

.recoveryCodes
  width: fit-content
  display: flex
  flex-direction: column
  background-color: #6a646e
  border: 2px solid #322c36
  color: #251c2b
  border-radius: 0.3em
  padding: 0.3em
  font-family: 'JetBrains Mono', monospace
  overflow-wrap: break-word