.card
  color: #cfc8c2
  display: flex
  width: 100%
  box-shadow: rgba(13, 17, 23, 0.2) 0 2px 8px 0
  background-color: #24233b
  transition: 0.3s
  border-radius: 0.3em
  border: 2px solid #0d1117

.card:hover
  border-color: #a96dc2
  box-shadow: 0 10px 16px 0 rgba(135, 84, 156, 0.2), 0 6px 20px 0 rgba(135, 84, 156, 0.19)
  cursor: pointer

.cardVotes
  color: #a96dc2
  padding-top: 1em
  padding-bottom: 1em
  margin-left: 0.5em
  margin-right: 0.5em
  display: flex
  flex-direction: column
  justify-content: center
  width: 2em

  span
    text-align: center

  .iconUnchecked
    font-size: 1.5em
    cursor: pointer

  .iconChecked
    font-size: 1.5em
    cursor: pointer

.cardContent
  width: 100%
  margin: 0.5em 0.5em 0.5em 0
  display: flex
  flex-direction: column
  justify-content: space-between

  .title
    font-weight: bold
  
  .title:hover
    text-decoration: underline

.bottomPanel
  margin-top: 0.5em
  width: 100%
  display: inline-flex
  justify-content: space-between
  align-items: center
  font-size: 0.9em

.cardStatics
  color: #bf93aa
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  gap: 1em

.bottomPanel img
  height: 1.4em
  border-radius: 0.2em

.authorName
  display: inline-flex
  justify-content: flex-start
  align-content: center
  align-items: center
  gap: 0.3em

.authorName span
  color: #a88b51

.authorName:hover
  text-decoration-line: underline
  color: #c49535

.authorName span:hover
  color: #c49535