.horizontal
  width: 100%
  display: flex
  justify-content: flex-end
  align-items: center

.horizontal:not(:first-child)
  border-top: 3px solid #060617

.clickableLabel
  color: #323c80
  font-weight: bold

.clickableLabel:hover
  text-decoration-line: underline
  cursor: pointer
  color: #01aff6

.comment
  width: 100%
  display: grid
  grid-template-columns: 5% 95%

.commentContent
  display: grid
  grid-template-columns: 80% 20%
  width: 100%
  color: #cfc8c2
  background-color: #24233b
  padding: 0.5em
  font-size: 0.9em

.itemsList
  display: inline-flex
  gap: 0.5em
  justify-content: space-between

.itemsList img
  height: 1.7em
  border-radius: 0.2em

.authorName
  display: inline-flex
  justify-content: flex-start
  align-content: center
  align-items: flex-start
  gap: 0.3em

.authorName span
  color: #a88b51

.authorName span:hover
  text-decoration-line: underline
  color: #c49535

.timings
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 0.1em
  font-size: 0.8em

.menu
  background-color: #0e0e33 !important
  color: #01aff6 !important
  margin-right: 0.5em !important
  display: flex
  flex-direction: column

.menuItem
  font-size: 0.8em !important

.menuItemGroup
  display: inline-flex
  gap: 0.3em
  align-items: center

.menuItem:hover
  background-color: #92709e !important
  color: #0e0e33 !important

.blueMenuItem
  color: #01aff6 !important

.blueMenuItem:hover
  color: #0e0e33 !important

.redMenuItem
  color: #eb2f5e !important

.redMenuItem:hover
  color: #7d0221 !important

.menuDivider
  background-color: #01aff6 !important

.labelWithIcon
  color: #0b75a1
  display: inline-flex
  align-items: center
  justify-content: center
  gap: 0.3em
  font-size: 1em

.labelWithIcon .icon:hover
  cursor: pointer