.card
  display: block
  border-radius: 0.5em
  cursor: pointer
  // box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0
  transition: 0.3s
  margin-top: 0.5em
  border: 2px solid transparent

.card:hover
  transform: translateY(-0.2em)
  text-decoration-line: underline
  border: 2px solid #a96dc2
  // box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.cardDescription
  color: #b6baa4
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  padding: 0.5em
  // background-color: #382514
  border-radius: 0.5em
  font-size: 0.9em


.cover
  height: 5em
  width: auto
  border-radius: 0.5em 0.5em 0 0