.toolsContainer
  display: flex
  flex-direction: row
  gap: 0.5em
  align-items: center
  font-size: 1.1em
  font-weight: bold

.appName
  font-family: 'JetBrains Mono', monospace
  font-size: 1.2em
  color: #0b75a1

.appName:hover
  cursor: pointer
  color: #01aff6

.toolIcon
  font-size: 1.5em
  padding: 0.3em
  transition: 0.3s
  color: #0b75a1 !important

.toolIcon:hover
  cursor: pointer
  color: #01aff6 !important

.menu
  background-color: #0e0e33 !important
  color: #01aff6 !important

.menuItem
  color: #01aff6 !important

.menuItem:hover
  background-color: #92709e !important
  color: #0e0e33 !important