.headerContainer
  width: 100%
  display: flex
  justify-content: space-between
  gap: 10em
  align-items: center
  padding: 0.5em
  color: #3b2325
  background-color: #0e0e33
  position: fixed
  top: 0
  height: 3em
  z-index: 999
  box-shadow: 0 1px 2px hsla(0,0%,0%,0.1), 0 1px 4px hsla(0, 0%, 0%, 0.1), 0 2px 8px hsla(0, 0%, 0%, 0.1)
