.sqlEditor
  display: grid
  width: calc(100% - 0.5em)
  grid-gap: 0.5em
  grid-template-columns: 50% 50%

.verticalSmall
  width: auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.toolBar
  width: 100%
  display: flex
  background-color: #0d1117
  padding: 0.2em
  gap: 0.3em
  font-size: 1.3em
  justify-content: flex-end
  align-items: center

.toolBarIcon
  padding: 0.2em
  border-radius: 0.2em
  cursor: pointer

.toolBarIcon:hover
  background-color: #4a3e4f

.databaseDropDownTitle
  font-size: 0.8em
  padding: 0.2em
  border-radius: 0.2em
  cursor: pointer
  display: inline-flex
  gap: 0.2em
  align-items: center
  color: #cfc8c2

.databaseDropDownTitle span:first-child
  font-size: 1.3em

.databaseDropDownTitle:hover
  background-color: #4a3e4f

.horizontal
  width: 100%
  display: flex
  padding: 0.2em
  gap: 0.4em
  justify-content: flex-end
  align-items: center

.dataContainer
  grid-column: 1 / 3