.container
  width: 100%
  display: grid
  grid-template-columns: 25% 70%
  gap: 1em

.leftPanel
  display: flex
  flex-direction: column
  gap: 0.3em
  justify-content: flex-start
  align-items: center

.panelItemSelected
  padding: 0.5em
  width: 100%
  color: #cfc8c2
  background-color: #403f69
  border-radius: 0 0.3em 0.3em 0
  border-left: 3px solid #cfc8c2
  display: inline-flex
  align-items: center
  gap: 0.3em

.panelItemSelected:hover
  cursor: pointer
  color: #cfc8c2

.panelItem
  padding: 0.5em
  width: 90%
  color: #01aff6
  display: inline-flex
  align-items: center
  gap: 0.3em
  border-left: 2px solid transparent

.panelItem:hover
  cursor: pointer
  background-color: #24233b
  border-radius: 0.3em
