.loginPage
  width: 100%
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  background-image: url("../../assets/mood_background.svg")
  background-attachment: fixed
  background-repeat: space

.formInnerWrapper
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: 0
  background-image: url("../../assets/mood_background.svg")
  background-attachment: fixed
  background-repeat: space
  filter: blur(4px) grayscale(0.5)

.loginForm
  position: relative
  overflow: hidden
  width: 40%
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  border-radius: 1em
  padding: 2em

.passwordGroup
  display: flex !important

.onTop
  z-index: 1
  position: relative

.input
  background-color: #47456e !important
  color: #cfc8c2

.input input
  background-color: #47456e !important
  color: #cfc8c2