.accountPage
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  gap: 2em
  padding-top: 1em

.optionContainer
  width: 90%
  display: grid
  grid-template-columns: 30% 70%
  background-color: #403f69
  border-radius: 0.2em
  padding: 0.8em
  align-items: center

.optionDescription
  display: flex
  flex-direction: column
  justify-content: left
  color: #cfc8c2

.optionDescription span:first-child
  font-size: 2em
  font-weight: bold

.optionValue
  width: 100%
  display: inline-flex
  align-items: center
  gap: 0.6em

.optionValue img
  height: 5em
  border-radius: 0.4em

.pageActions
  width: 90%
  display: inline-flex
  align-items: center
  justify-content: flex-start
  padding-left: 0.8em

.input
  width: 50% !important
  background-color: #24233b !important
  color: #cfc8c2

.input input
  background-color: #24233b !important
  color: #cfc8c2

.divider
  width: 90%
  height: 3px
  background-color: #01aff6
  margin-top: 1em
  margin-botton: 1em

.uploadInput
  color: #cfc8c2
  width: 100%

.vertical
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  gap: 0.3em