.registerPage
  width: 100%
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  background-image: url("../../assets/shapes_background.svg")
  background-attachment: fixed

.formInnerWrapper
  content: ''
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: 0
  background-image: url("../../assets/shapes_background.svg")
  background-attachment: fixed
  background-repeat: space
  filter: blur(4px) grayscale(0.5)

.registerForm
  position: relative
  overflow: hidden
  width: 40%
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  border-radius: 1em
  padding: 0.5em 2em 0.5em 2em
  max-height: 90%
  overflow-y: auto

.passwordGroup
  display: flex !important

.onTop
  z-index: 1
  position: relative

.oauthSitesContainer
  display: flex
  justify-content: center
  align-content: center
  gap: 0.5em

.verticalGroup
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.circleUnchecked
  font-size: 2em
  color: #282c34
  cursor: help

.circleChecked
  font-size: 2em
  color: #b44ed9
  text-decoration-line: underline
  cursor: help

.circleCheckTitle
  font-size: 0.6em

.input
  background-color: #47456e !important
  color: #cfc8c2

.input input
  background-color: #47456e !important
  color: #cfc8c2