.securityPage
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  gap: 2em
  padding-top: 1em

.optionContainer
  width: 90%
  display: grid
  grid-template-columns: 30% 70%
  background-color: #403f69
  border-radius: 0.2em
  padding: 0.8em
  align-items: center

.optionDescription
  display: flex
  flex-direction: column
  justify-content: left
  color: #cfc8c2

.optionDescription span:first-child
  font-size: 2em
  font-weight: bold

.optionValue
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  gap: 0.6em

.changePassword
  width: 100%
  display: grid
  grid-template-columns: 50% 50%
  gap: 0.5em
  color: #cfc8c2

.vertical
  display: flex
  flex-direction: column

.pageActions
  width: 90%
  display: inline-flex
  align-items: center
  justify-content: flex-start
  padding-left: 0.8em

.input
  width: 100% !important
  background-color: #24233b !important
  color: #cfc8c2 !important

.input input
  background-color: #24233b !important
  color: #cfc8c2 !important

.divider
  width: 90%
  height: 3px
  background-color: #01aff6
  margin-top: 1em
  margin-botton: 1em

.select
  width: 50% !important
  background-color: #24233b !important
  color: #cfc8c2 !important

.select > div
  background-color: #24233b !important
  color: #cfc8c2 !important

.select span
  background-color: #24233b !important
  color: #cfc8c2 !important

.verticalAddEmail
  display: flex
  flex-direction: column
  width: 50%
  gap: 0.4em

.emails
  display: flex
  flex-direction: column
  width: 40%
  gap: 0.1em

.email
  padding: 0.3em
  color: #cfc8c2 !important
  display: inline-flex
  justify-content: flex-start
  gap: 1em

.emailOptions
  display: none

.email:hover .emailOptions
  cursor: pointer
  display: inline-flex
  justify-content: flex-end
  align-items: center
  gap: 0.8em

.primaryEmail
  background-color: green
  border-radius: 0.3em

.deleteEmailButton
  padding: 0.2em
  border-radius: 0.2em
  cursor: pointer
  color: #eb2f5e

.deleteEmailButton:hover
  background-color: #7d0221
  color: #e8c8d1

.setPrimaryEmailButton
  padding: 0.2em
  border-radius: 0.2em
  cursor: pointer
  color: #7ebd90

.setPrimaryEmailButton:hover
  background-color: #216b37
  color: #bbf2cb