.tables
  width: 100%
  display: flex
  flex-direction: column
  color: #c9d1d9
  gap: 0.5em

.tableName
  width: 100%
  padding: 0.3em
  font-weight: bold
  background-color: #060617
  color: #a88b51

.tableContainer
  width: 100%
  display: flex
  flex-direction: column
  background-color: #0d1117
  color: #c9d1d9
  border-radius: 0.2em

.row
  width: 100%
  display: inline-flex
  gap: 0
  justify-content: space-between

.row:not(:first-child)
  border-top: 0.2em solid #161b22

.row:not(:first-child):hover
  background-color: #24233b

.cell
  width: inherit
  padding: 0.3em 0.3em 0.3em 0.6em

.cell:not(:first-child)
  border-left: 0.2em solid #161b22

.titleCell
  text-align: center
  font-weight: bold
  padding: 0.3em 0 0.3em 0

.titleCell:not(:first-child)
  border-left: 0.2em solid #161b22