.dashboard
  margin-top: 3em
  width: 100%
  height: 100%
  display: block
  background-color: #060617
  min-height: 100vh
  padding-bottom: 2em
  padding-top: 0.1em

.page
  margin-top: 2em
  width: 100%
  display: flex
  flex-direction: column
  gap: 2em
  justify-content: flex-start
  align-items: center

.tagsSection
  display: flex
  flex-direction: column
  width: 70%

.tagsSectionTitle
  font-weight: bold
  width: fit-content
  text-align: left
  font-size: 1.3em
  color: #0b75a1

.tagsSectionTitle:hover
  cursor: pointer
  text-decoration-line: underline
  color: #01aff6