.container
  width: 100%
  display: flex
  justify-content: flex-start
  align-items: flex-start

.toolbar
  width: 100%
  padding: 0.5em
  gap: 0.5em
  height: fit-content
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start
  font-size: 1.2em
  flex-wrap: wrap

.tag
  transition: all 1s

  &:hover
    text-decoration-line: underline

.tagInput
  width: 100%
  background-color: #0d1117 !important
  border: none !important
  color: #01aff6 !important
  margin-bottom: 0.5em !important

.tagInput > div
  background-color: #0d1117 !important
  border: 2px solid #01aff6 !important
  color: #01aff6 !important
  margin-bottom: 0.5em !important

.tagInput input
  background-color: #0d1117 !important 
  color: #01aff6
  border-color: #01aff6 !important

.tagInput button
  background-color: #01aff6 !important 
  border-color: #01aff6 !important

.tagInput span
  border: none !important
  background-color: #01aff6 !important 
  color: #0d1117 !important