.horizontalDivider
  height: 3px
  background-color: #5e3f2f
  border-radius: 2px

.horizontal
  width: 100%
  display: flex
  padding: 0.3em 0 0.3em 0
  gap: 0.4em
  justify-content: flex-end
  align-items: center

.vertical
  display: flex
  flex-direction: column
  width: 100%
  gap: 0.5em

.answerDetails
  padding-left: 0.3em
  display: inline-flex
  justify-content: flex-start
  gap: 0.8em
  align-items: center
  align-content: center
  font-size: 0.8em

.answerDetails span
  color: #0b75a1

.author
  display: inline-flex
  justify-content: flex-start
  gap: 0.3em
  align-items: center
  align-content: center

.author img
  height: 1.7em
  border-radius: 0.2em

.author span
  color: #a88b51
  font-size: 1.2em

.author span:hover
  text-decoration-line: underline

.comments
  align-self: flex-end
  width: 100%
  display: flex
  flex-direction: column
  gap: 0

.labelWithIcon
  display: inline-flex
  align-items: center
  gap: 0.3em
  font-size: 1.5em

.labelWithIcon .icon:hover
  cursor: pointer

.switch
  background-color: red !important

.answerOptions
  color: #ead8ed
  display: inline-flex
  align-items: center
  justify-content: flex-start
  gap: 0.3em
  font-size: 1.5em

.answerOptionsIcon
  padding: 0.2em
  border-radius: 0.2em
  cursor: pointer
  font-size: 0.75em

.answerOptionsIcon:hover
  background-color: #4a3e4f

.menuSpace
  flex-grow: 1

.menu
  background-color: #0e0e33 !important
  color: #01aff6 !important
  margin-right: 0.5em !important
  display: flex
  flex-direction: column

.menuItem
  font-size: 0.8em !important

.menuItemGroup
  display: inline-flex
  gap: 0.3em
  align-items: center

.menuItem:hover
  background-color: #92709e !important
  color: #0e0e33 !important

.blueMenuItem
  color: #01aff6 !important

.blueMenuItem:hover
  color: #0e0e33 !important

.redMenuItem
  color: #eb2f5e !important

.redMenuItem:hover
  color: #7d0221 !important

.toolBarIcon
  padding: 0.2em
  border-radius: 0.2em
  cursor: pointer
  font-size: 1.4em

.toolBarIcon:hover
  background-color: #4a3e4f